In [1]:
import pandas as pd

In [2]:
cd ..

/Users/mgcrp/Documents/GitHub/hse_graphvis_2021

In [3]:
cd data/

/Users/mgcrp/Documents/GitHub/hse_graphvis_2021/data

In [4]:
files = [
    '0228685-200613084148143.csv',
    '0228687-200613084148143.csv',
    '0228689-200613084148143.csv',
    '0228693-200613084148143.csv',
    '0228696-200613084148143.csv',
    '0228699-200613084148143.csv'
]

df = pd.read_csv(files[0], sep='\t')

for file in files[1:]:
    df = df.append( pd.read_csv(file, sep='\t') )

/Users/mgcrp/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (14,17,36,38,39,40,41,44,46,48) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/Users/mgcrp/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (17,38,39,40,41,46,48) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/Users/mgcrp/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (10,38,39,40,41,46,48) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [5]:
df.head(10)

,gbifID,datasetKey,occurrenceID,kingdom,phylum,class,order,family,genus,species,...,identifiedBy,dateIdentified,license,rightsHolder,recordedBy,typeStatus,establishmentMeans,lastInterpreted,mediaType,issue
0,1615092473,f06fef3c-6ea6-4345-b724-a1b8e490dc55,SEO-BirdLife:anillamientoseo:3695428,Animalia,Chordata,Aves,Passeriformes,Alaudidae,Alauda,Alauda arvensis,...,NaN,NaN,CC_BY_NC_4_0,SEO-BirdLife,NaN,NaN,NATIVE,2021-03-09T20:47:25.985Z,NaN,NaN
1,1615092515,f06fef3c-6ea6-4345-b724-a1b8e490dc55,SEO-BirdLife:anillamientoseo:3695420,Animalia,Chordata,Aves,Passeriformes,Alaudidae,Alauda,Alauda arvensis,...,NaN,NaN,CC_BY_NC_4_0,SEO-BirdLife,NaN,NaN,NATIVE,2021-03-09T20:46:38.909Z,NaN,NaN
2,1620594793,f06fef3c-6ea6-4345-b724-a1b8e490dc55,SEO-BirdLife:anillamientoseo:8707595,Animalia,Chordata,Aves,Charadriiformes,Scolopacidae,Calidris,Calidris alpina,...,NaN,NaN,CC_BY_NC_4_0,SEO-BirdLife,NaN,NaN,NATIVE,2021-03-09T20:46:58.292Z,NaN,NaN
3,1615097451,f06fef3c-6ea6-4345-b724-a1b8e490dc55,SEO-BirdLife:anillamientoseo:3699894,Animalia,Chordata,Aves,Passeriformes,Muscicapidae,Oenanthe,Oenanthe oenanthe,...,NaN,NaN,CC_BY_NC_4_0,SEO-BirdLife,NaN,NaN,NATIVE,2021-03-09T20:47:24.254Z,NaN,NaN
4,1620634274,f06fef3c-6ea6-4345-b724-a1b8e490dc55,SEO-BirdLife:anillamientoseo:8743142,Animalia,Chordata,Aves,Charadriiformes,Scolopacidae,Calidris,Calidris alpina,...,NaN,NaN,CC_BY_NC_4_0,SEO-BirdLife,NaN,NaN,NATIVE,2021-03-09T20:47:17.765Z,NaN,NaN
5,1620651512,f06fef3c-6ea6-4345-b724-a1b8e490dc55,SEO-BirdLife:anillamientoseo:8758670,Animalia,Chordata,Aves,Charadriiformes,Scolopacidae,Calidris,Calidris alpina,...,NaN,NaN,CC_BY_NC_4_0,SEO-BirdLife,NaN,NaN,NATIVE,2021-03-09T20:46:43.663Z,NaN,NaN
6,1615101713,f06fef3c-6ea6-4345-b724-a1b8e490dc55,SEO-BirdLife:anillamientoseo:3703753,Animalia,Chordata,Aves,Passeriformes,Muscicapidae,Oenanthe,Oenanthe oenanthe,...,NaN,NaN,CC_BY_NC_4_0,SEO-BirdLife,NaN,NaN,NATIVE,2021-03-09T20:46:42.306Z,NaN,NaN
7,1615101724,f06fef3c-6ea6-4345-b724-a1b8e490dc55,SEO-BirdLife:anillamientoseo:3703747,Animalia,Chordata,Aves,Passeriformes,Muscicapidae,Oenanthe,Oenanthe oenanthe,...,NaN,NaN,CC_BY_NC_4_0,SEO-BirdLife,NaN,NaN,NATIVE,2021-03-09T20:47:24.393Z,NaN,NaN
8,1620594782,f06fef3c-6ea6-4345-b724-a1b8e490dc55,SEO-BirdLife:anillamientoseo:8707598,Animalia,Chordata,Aves,Charadriiformes,Scolopacidae,Calidris,Calidris alpina,...,NaN,NaN,CC_BY_NC_4_0,SEO-BirdLife,NaN,NaN,NATIVE,2021-03-09T20:47:02.284Z,NaN,NaN
9,1615092547,f06fef3c-6ea6-4345-b724-a1b8e490dc55,SEO-BirdLife:anillamientoseo:3695475,Animalia,Chordata,Aves,Passeriformes,Alaudidae,Alauda,Alauda arvensis,...,NaN,NaN,CC_BY_NC_4_0,SEO-BirdLife,NaN,NaN,NATIVE,2021-03-09T20:46:38.909Z,NaN,NaN

In [6]:
df_migrating = pd.read_excel('migrating_birds_results.xlsx')
df_migrating.head(10)

,Name,Type,Start_Latitude,Start_Longitude,Finish_Latitude,Finish_Longitude
0,Acanthis flammea,Перелётная,51.840711,5.517069,61.402603,16.566327
1,Accipiter gentilis,Не перелётная,56.443526,11.595520,56.443526,11.595520
2,Aegolius funereus,Не перелётная,62.722614,17.889487,62.722614,17.889487
3,Alauda arvensis,Не перелётная,51.185030,9.603633,51.185030,9.603633
4,Alca torda,Не перелётная,56.145274,11.939642,56.145274,11.939642
5,Alopochen aegyptiaca,Не перелётная,9.285086,22.018036,9.285086,22.018036
6,Anas acuta,Перелётная,57.989475,15.085320,37.148089,-7.224148
7,Anas clypeata,Не перелётная,49.462652,11.041462,49.462652,11.041462
8,Anas crecca,Перелётная,37.922921,-7.695764,40.762855,2.489836
9,Anas discors,Не перелётная,15.162452,-56.332364,15.162452,-56.332364

In [30]:
df_filtered = df[df.species.isin( df_migrating[df_migrating.Type == 'Перелётная'].Name.tolist() )]

In [31]:
df_filtered.shape

(532050, 50)

In [32]:
df_filtered.columns

Index(['gbifID', 'datasetKey', 'occurrenceID', 'kingdom', 'phylum', 'class',
       'order', 'family', 'genus', 'species', 'infraspecificEpithet',
       'taxonRank', 'scientificName', 'verbatimScientificName',
       'verbatimScientificNameAuthorship', 'countryCode', 'locality',
       'stateProvince', 'occurrenceStatus', 'individualCount',
       'publishingOrgKey', 'decimalLatitude', 'decimalLongitude',
       'coordinateUncertaintyInMeters', 'coordinatePrecision', 'elevation',
       'elevationAccuracy', 'depth', 'depthAccuracy', 'eventDate', 'day',
       'month', 'year', 'taxonKey', 'speciesKey', 'basisOfRecord',
       'institutionCode', 'collectionCode', 'catalogNumber', 'recordNumber',
       'identifiedBy', 'dateIdentified', 'license', 'rightsHolder',
       'recordedBy', 'typeStatus', 'establishmentMeans', 'lastInterpreted',
       'mediaType', 'issue'],
      dtype='object')

In [33]:
df_filtered = df_filtered[[
    'gbifID', 'kingdom', 'species',
    'countryCode', 'stateProvince', 'individualCount',
    'decimalLatitude', 'decimalLongitude', 'eventDate', 'month', 'year'
]]

In [34]:
def __smpl_size(population, size):
    '''
    A function to compute the sample size. If not informed, a sampling 
    size will be calculated using Cochran adjusted sampling formula:
        cochran_n = (Z**2 * p * q) /e**2
        where:
            - Z is the z-value. In this case we use 1.96 representing 95%
            - p is the estimated proportion of the population which has an
                attribute. In this case we use 0.5
            - q is 1-p
            - e is the margin of error
        This formula is adjusted as follows:
        adjusted_cochran = cochran_n / 1+((cochran_n -1)/N)
        where:
            - cochran_n = result of the previous formula
            - N is the population size
    Parameters
    ----------
        :population: population size
        :size: sample size (default = None)
    Returns
    -------
    Calculated sample size to be used in the functions:
        - stratified_sample
        - stratified_sample_report
    '''
    if size is None:
        cochran_n = round(((1.96)**2 * 0.5 * 0.5)/ 0.02**2)
        n = round(cochran_n/(1+((cochran_n -1) /population)))
    elif size >= 0 and size < 1:
        n = round(population * size)
    elif size < 0:
        raise ValueError('Parameter "size" must be an integer or a proportion between 0 and 0.99.')
    elif size >= 1:
        n = size
    return n


def stratified_sample(df, strata, size=None, seed=None, keep_index= True):
    '''
    It samples data from a pandas dataframe using strata. These functions use
    proportionate stratification:
    n1 = (N1/N) * n
    where:
        - n1 is the sample size of stratum 1
        - N1 is the population size of stratum 1
        - N is the total population size
        - n is the sampling size
    Parameters
    ----------
    :df: pandas dataframe from which data will be sampled.
    :strata: list containing columns that will be used in the stratified sampling.
    :size: sampling size. If not informed, a sampling size will be calculated
        using Cochran adjusted sampling formula:
        cochran_n = (Z**2 * p * q) /e**2
        where:
            - Z is the z-value. In this case we use 1.96 representing 95%
            - p is the estimated proportion of the population which has an
                attribute. In this case we use 0.5
            - q is 1-p
            - e is the margin of error
        This formula is adjusted as follows:
        adjusted_cochran = cochran_n / 1+((cochran_n -1)/N)
        where:
            - cochran_n = result of the previous formula
            - N is the population size
    :seed: sampling seed
    :keep_index: if True, it keeps a column with the original population index indicator
    
    Returns
    -------
    A sampled pandas dataframe based in a set of strata.
    Examples
    --------
    >> df.head()
    	id  sex age city 
    0	123 M   20  XYZ
    1	456 M   25  XYZ
    2	789 M   21  YZX
    3	987 F   40  ZXY
    4	654 M   45  ZXY
    ...
    # This returns a sample stratified by sex and city containing 30% of the size of
    # the original data
    >> stratified = stratified_sample(df=df, strata=['sex', 'city'], size=0.3)
    Requirements
    ------------
    - pandas
    - numpy
    '''
    population = len(df)
    size = __smpl_size(population, size)
    tmp = df[strata]
    tmp['size'] = 1
    tmp_grpd = tmp.groupby(strata).count().reset_index()
    tmp_grpd['samp_size'] = round(size/population * tmp_grpd['size']).astype(int)

    # controlling variable to create the dataframe or append to it
    first = True 
    for i in range(len(tmp_grpd)):
        # query generator for each iteration
        qry=''
        for s in range(len(strata)):
            stratum = strata[s]
            value = tmp_grpd.iloc[i][stratum]
            n = tmp_grpd.iloc[i]['samp_size']

            if type(value) == str:
                value = "'" + str(value) + "'"
            
            if s != len(strata)-1:
                qry = qry + stratum + ' == ' + str(value) +' & '
            else:
                qry = qry + stratum + ' == ' + str(value)
        
        # final dataframe
        if first:
            stratified_df = df.query(qry).sample(n=n, random_state=seed).reset_index(drop=(not keep_index))
            first = False
        else:
            tmp_df = df.query(qry).sample(n=n, random_state=seed).reset_index(drop=(not keep_index))
            stratified_df = stratified_df.append(tmp_df, ignore_index=True)
    
    return stratified_df

In [37]:
df_filtered.eventDate = pd.to_datetime(df_filtered.eventDate)

In [39]:
df_filtered.eventDate.dt.year.unique()

array([2019, 2018])

In [40]:
df_filtered = df_filtered[df_filtered.eventDate.dt.year == 2019]

In [41]:
df_stratified = stratified_sample(
    df=df_filtered,
    strata=['species', 'month'],
    size=500000,
    seed=42,
    keep_index=False
)
df_stratified.head(10)

<ipython-input-34-82913249221d>:94: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tmp['size'] = 1

,gbifID,kingdom,species,countryCode,stateProvince,individualCount,decimalLatitude,decimalLongitude,eventDate,month,year
0,2247476989,Animalia,Acanthis flammea,SE,NaN,3.0,59.953314,17.693146,2019-01-19 00:00:00,1.0,2019
1,2247285058,Animalia,Acanthis flammea,SE,NaN,10.0,59.411105,15.619376,2019-01-19 00:00:00,1.0,2019
2,2247215537,Animalia,Acanthis flammea,SE,NaN,50.0,59.710174,18.092618,2019-01-13 10:00:00,1.0,2019
3,2247383632,Animalia,Acanthis flammea,SE,NaN,NaN,59.765432,18.333977,2019-01-25 00:00:00,1.0,2019
4,2247211344,Animalia,Acanthis flammea,SE,NaN,4.0,59.408417,17.870815,2019-01-12 14:05:00,1.0,2019
5,2247296991,Animalia,Acanthis flammea,SE,NaN,NaN,59.234859,18.305653,2019-01-20 11:00:00,1.0,2019
6,2616564355,Animalia,Acanthis flammea,SE,Bohuslän,1.0,58.050000,11.866670,2019-01-04 00:00:00,1.0,2019
7,2615763409,Animalia,Acanthis flammea,SE,Småland,1.0,57.783330,16.266670,2019-01-31 00:00:00,1.0,2019
8,2247286267,Animalia,Acanthis flammea,SE,NaN,20.0,55.748519,14.145402,2019-01-12 08:40:00,1.0,2019
9,2247291154,Animalia,Acanthis flammea,SE,NaN,25.0,59.196073,15.422924,2019-01-19 14:30:00,1.0,2019

In [42]:
df_stratified.drop(columns=['month', 'year'], inplace=True)

In [43]:
df_stratified.to_csv('migrating_birds_for_carto.csv', index=False)